.todo-container {
    display: flex;
    justify-content: center;
}

.todo-wrapper {
    width: 50%;
    background-color:  #9775fa;
    padding: 1em 0;
    box-shadow: 5px 5px 5px 0 rgba(204,204,204,1);
}

.todo-wrapper h1 {
    color: whitesmoke;
    text-align: center;
}
.todo-wrapper > p {
    color: whitesmoke;
}

.todo-form, .todo-item  {
    background-color: white;
    border-bottom: 2px solid #f1f3f5;
    font-size: 1.2em;
    padding: 0.1em 3em;
}

.todo-item {
    position: relative;
    padding: 0.1em 1em;
}

.todo-item p {
    display: inline-block;
    margin-left: 1em;
}

.icon {
    vertical-align: text-bottom;
    padding: 5px;
}

.icon-purple {
    color: #9775fa;
}

.icon-whitesmoke {
    color: gray;
}

.delete-icon {
    float: right;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%)
}

.todo-item:hover {
    background-color: #e5dbff;
}

.calendar-icon {
    vertical-align: bottom;
    margin: 0 0.5em;
}

@media screen and (max-width: 1024px) {
    .todo-wrapper {
        width: 90%;
    }

    .todo-form {
        padding: 0.1em 2em;
    }
    .todo-item {
        padding: 0.1em 0.2em;
    }

    .delete-icon {
        right: 0.3em;
    }
}